// Styling for the portfolio section
.portfolio-box {
  position: relative;
  display: block;
  text-align: right;
  min-height: 100px;
  margin: 0 auto;
  .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    @include transition-all;
    .portfolio-box-caption-content {
      top: 50%;
      width: 100%;
    //   .project-category,
    //   .project-name {
        div {
        padding: 0 15px;
        @include sans-serif-font;
      }
      .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }
  &:hover {
    .portfolio-box-caption {
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
  }
  @media (min-width: 768px) {
    .portfolio-box-caption {
      .portfolio-box-caption-content {
        .project-category, .project-description {
          font-size: 0.75em;
        }
        .project-name {
          font-size: 2em;
        }
      }
    }
  }
}
