<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">A little about myself</h2>
                <hr class="light">
                <p class="text-faded">My name is Kevin Hira and I am 21, studying Software Engineering at the <a class="bg-primary-link" href="http://auckland.ac.nz" target="_blank">University of Auckland</a>, New Zealand. I have experience in programming in languages such as Python, Java, MATLAB, C/C++, C#, and R. I have also done some web development with HTML and CSS.</p>
                <p class="text-faded">In my spare time, I like to play games, listen to music and socialise with my friends. I also have a passion for mathematics and science and enjoy a good problem to solve.</p>
                <p class="text-faded">Check out my social media (links below, in the footer) if you'd like to get in touch!</p>
                <a class="btn btn-default btn-xl js-scroll-trigger" href="#portfolio">See My Work</a>
            </div>
        </div>
    </div>
</section>
