<!--Author: Kevin Hira-->
<!--Template adapted from BlackrockDigital/startbootstrap-creative-->
<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body id="page-top">
        {% include navigation.html %}
        {{ content }}

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/popper/popper.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/creative.min.js"></script>
    </body>
</html>
